/*
Theme Name: MyJewelry
Author: Sergiy Prystupliuk
Description: The Jewelry Theme
Version: 1.0
*/
.test{
    background: red;
}
.nav-brand{
  display: inline-flex;
}
.custom-logo{
  width: 50px;
  height: 39px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  .carousel-control-next-icon{
    background-color: red;
    color: green;
  }

  /* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /* FOOTER*/
  #social div{
	width:25px;
	height:25px;
	display:inline-block;
}
		#fb{
			background:url(./assets/img/sc.jpg)no-repeat 0 0;
		}
		#tw{
			background:url(./assets/img/sc.jpg)no-repeat -25px 0;
		}
		#yb{
			background:url(./assets/img/sc.jpg)no-repeat -50px 0;
		}
		#in{
			background:url(./assets/img/sc.jpg)no-repeat -75px 0;
		}
		#ln{
			background:url(./assets/img/sc.jpg)no-repeat -100px 0;
		}
		#tg{
			background:url(./assets/img/sc.jpg)no-repeat -125px 0;
		}
		#tg2{
			background:url(./assets/img/sc.jpg)no-repeat -150px 0;
		}
		#social div:hover{
			background-position-y:-25px;
}

